name: deploy-book

# Only run this when the main branch changes
on:
  push:
    branches:
    - main
    - publish-with-workflow

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html

  zip-notebooks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Zip notebooks
      run: |
        zip -r notebooks.zip notebooks
    - name: Create release title
      id: set-title
      run: echo "::set-output name=title::v$(date +'%Y.%m.%d.%H.%M')"
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_title: "${{ steps.set-title.outputs.title }}"
        prerelease: false
        files: |
          notebooks.zip
